\documentclass{{article}}
\usepackage{{geometry, courier, graphicx}}
\graphicspath{{{{../resources/}}}}
\geometry{{a4paper, left=1cm, right=1cm, top=2cm, bottom=2cm}}
\title{{Market Dojo {versions} Release Notes}}
\author{{
    The Market Dojo Development Team
}}
\date{{\today}}
\begin{{document}}
   \maketitle

   \begin{{figure}}[h]
        \centering
        \includegraphics[width=0.75\textwidth]{{mdlogo}}
   \end{{figure}}

   \newpage
   \section{{Client Requested Changes}}
    Work in this section is based on client and partner requests. This may include new features, enhancements, or bug fixes.
    CS and Sales teams please review this section to ensure that the requested changes have been implemented,
    and let the client know that their request has been fulfilled.

    \vspace{{0.5cm}}

    \renewcommand{{\arraystretch}}{{1.5}}
    \begin{{tabular}}{{|c|p{{11cm}}|p{{4cm}}|}}
        \hline
        \textbf{{Ticket ID}} & \textbf{{Ticket Name}} & \textbf{{Client Names}} \\
        \hline
        {client_request_table} \\
        \hline
    \end{{tabular}}

    \newpage
    \section{{Features and Enhancements}}
    Work in this section fulfils internal requests or is internal project work not requested by a client or partner.

    \vspace{{0.5cm}}

    \renewcommand{{\arraystretch}}{{1.5}}
    \begin{{tabular}}{{|c|p{{11cm}}|p{{4cm}}|}}
        \hline
        \textbf{{Ticket ID}} & \textbf{{Ticket Name}} & \textbf{{Raised By}} \\
        \hline
        {feature_table} \\
        \hline
    \end{{tabular}}

    \newpage
    \section{{Bug Fixes and Other Work}}

    Bugs, issues, and maintenance changes within the application which either
    have not been raised by a client, or are proactively being fixed by the development team.

    \vspace{{0.5cm}}

    \renewcommand{{\arraystretch}}{{1.5}}
    \begin{{tabular}}{{|c|p{{11cm}}|p{{4cm}}|}}
        \hline
        \textbf{{Ticket ID}} & \textbf{{Ticket Name}} & \textbf{{Raised By}} \\
        \hline
        {bugfix_table} \\
        \hline
    \end{{tabular}}

    \newpage
    \section{{Statistics}}

    Over the course of this Sprint:

    \begin{{itemize}}
        \item {n_prs} pull requests were merged, created by {n_contributors} different authors, closing {n_closed} tickets
        \item The average ticket had existed for {avg_lifetime} when it was closed
        \item The average pull request had existed for {avg_pr_lifetime} when it was merged
    \end{{itemize}}

    Changes were made in the following modules:

    \vspace{{0.5cm}}

    \renewcommand{{\arraystretch}}{{1.5}}
    \begin{{table}}[h]
        \centering
        \begin{{tabular}}{{|c|c|c|c|}}
            \hline
            \textbf{{Module}} & \textbf{{Features}} & \textbf{{Bugfixes}} & \textbf{{Total Changes}} \\
            \hline
            {module_table} \\
            \hline
        \end{{tabular}}
    \end{{table}}
\end{{document}}
