# Market Dojo version {version}, released {release_date}

## Client Requested Changes

Work in this section is based on client requests. This may include new features, enhancements, or bug fixes.
CS and Sales teams please review this section to ensure that the requested changes have been implemented,
and let the client know that their request has been fulfilled.

| Ticket ID | Ticket Name | Raised By | Module | Client Names |
| --- | --- | --- | --- | --- |
{client_request_table}

## Features and Enhancements

Work in this section fulfils internal requests or is project work.

| Ticket ID | Ticket Name | Raised By | Module |
| --- | --- | --- | --- |
{feature_table}

## Bug Fixes and Other Work

Bugs, issues, and maintenance changes within the application which either
have not been raised by a client, or are proactively being fixed by the development team.

| Ticket ID | Ticket Name | Raised By | Module |
| --- | --- | --- | --- |
{bugfix_table}

## Statistics for this release's changelog

- {n_tickets} tickets closed
- {n_prs} pull requests merged
- {n_features} new feature(s) or enhancement(s) added
- {n_bugfixes} bugs fixed
- {avg_lifetime} average ticket age at close
- {avg_pr_lifetime} average PR age at close

| Module | Tickets |
| --- | --- |
{module_table}
